@model EcoTRack_.ViewModels.AnalysisViewModel 

<h1>Electricity Usage Analysis</h1>

<h2>Electrate Data</h2>
<table class="table">
    <thead>
        <tr>
            <th>UID</th>
            <th>KWR</th>
            <th>Total Bill</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ElectrateList)
        {
            <tr>
                <td>@item.Uid</td>
                <td>@item.kwr</td>
                <td>@item.totalbill</td>
                <td>@item.date</td>
            </tr>
        }
    </tbody>
</table>

<h2>Insight Data</h2>
<table class="table">
    <thead>
        <tr>
            <th>UID</th>
            <th>Insight Information</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var insight in Model.InsightList)
        {
            <tr>
                <td>@insight.Uid</td>
                <td>@insight.InsightText</td>
                </tr>
        }
    </tbody>
</table>
